/* Nunito servie avec l'application : aucun appel à un tiers, donc aucune adresse IP
   de Visiteur transmise à Google. Sous-ensemble latin, licence OFL (OFL.txt). */

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./polices/nunito-latin-400.woff2") format("woff2");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./polices/nunito-latin-600.woff2") format("woff2");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./polices/nunito-latin-700.woff2") format("woff2");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./polices/nunito-latin-800.woff2") format("woff2");
}
